@import "./variables";

header {
    height: 100vh;
    background-color: $background2;
}

header div.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// header title

header h1 {
    font-family: $headerFont;
    text-transform: uppercase;
    color: $fontColour2;
    margin: 0;
    padding: 0;
    font-size: 8rem;
    align-self: flex-end;
    z-index: 3;
    transition: color 1s ease-in-out;
    cursor: default;
}

.behind1 {
    color: #ffffccbb;
    position: absolute;
    z-index: 2;
    top: 340px;
    right: 80px;
    opacity: 0.75;
}

.behind2 {
    color: $fontColour1;
    position: absolute;
    z-index: 1;
    top: 355px;
    right: 95px;
}

// hover transitions

.front:hover {
    color: #FAB847;
}

.behind1:hover {
    color: #A2D0E6D4;
}

.behind2:hover {
    color: #7D9F72;
}

// THE MAKERSSSS!!!

p.toTheSide {
    color: $background1;
    font-size: 18px;
    text-transform: uppercase;
    rotate: 270deg;
    position: fixed;
    right: -125px;
    bottom: 155px;
    z-index: 100; // yes, because i'm extra
}

span.heart {
    font-size: 24px;
}

// Background text

.backgroundText p {
    font-size: 15rem;
    font-family: $headerFont;   
    color: transparent;
    position: fixed;
    z-index: 0;
    cursor: default;
}

.backgroundText p:first-of-type {
    -webkit-text-stroke: 5px #D6AC6356;
    top: -250px;
    left: -300px;
}

.backgroundText p:nth-of-type(2n) {
    -webkit-text-stroke: 5px #FFFFCC7E;
    bottom: 50px;
    left: 900px;
}

.backgroundText p:last-child {
    -webkit-text-stroke: 5px #7D9F724C;
    top: 250px;
    left: -50px;
}